@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Yellowtail&display=swap");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .box {
    @apply w-[1400px] mx-auto;
  }

  .sub-title {
    @apply font-yellowtail text-green text-4xl;
  }
  .healing {
    @apply font-roboto text-primary text-[50px] font-extrabold  leading-[1.25];
  }
  .desc {
    @apply font-Open text-lg text-[#525C60];
  }
}

body {
  overflow-x: hidden;
}
